[submodule "libs/ShlibVK"]
	path = libs/ShlibVK
	url = https://github.com/LuisDaLizard/ShlibVK.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/reactphysics3d"]
	path = libs/reactphysics3d
	url = https://github.com/DanielChappuis/reactphysics3d.git
