[submodule "libs/ShlibGraphics"]
	path = libs/ShlibGraphics
	url = https://github.com/LuisDaLizard/ShlibGraphics.git
	branch = master
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/OBJ-Loader"]
	path = libs/OBJ-Loader
	url = https://github.com/Bly7/OBJ-Loader.git
